<div class="waffles">
  <h1><a class="brand" href="<%= config.root %>"><%= config.title %></a> - <%= page.title %></h1>
</div>

<div class="waffles">
<% if (page.toc) { %>
    <div class="w-3 w-alpha toc">
      <%- partial( 'post/toc', {page: item}) %>
    </div>
<% } %>

<% if (page.toc) { %>
    <div class="w-9 w-omega note">
<% } else { %>
    <div class="w-12 w-alpha w-omega">
<% } %>

  <%- item.content %>

      <div>
        <center>
          <%- partial( 'post/pagination', {page: item}) %>
        </center>
      </div>
      
    </div>
      
</div>
